@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Jobs";
}

@model MrFixIt.Models.Job

<script type="text/javascript">
    $(document).ready(function () {
        $('#claim-btn').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Index")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    $('#claim-result').html(result);
                }
            });
        });
    });
</script> 

<div id="claim-page">
    <h2>Would you like to do this job?</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)

        <h4>@Model.Title</h4>
        <input id="claim-btn" type="submit" value="Claim This Job" />
    }
    <div id="claim-result"></div>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>
