@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Perform";
}

@model MrFixIt.Models.Job

<script type="text/javascript">
    $(document).ready(function () {
        $('#perform-btn').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Index")',
                type: 'POST',
                success: function (result) {
                    $('#perform-result').html(result);
                }
            });
        });
    });
</script>

<div id="perform-page">
    <h2>Would you like to work on this job?</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)

        <h4>@Model.Title</h4>
        <input id="perform-btn" type="submit" value="Work on This Job" />
    }
    <div id="perform-result"></div>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>